*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid 1px black;
}

.container{
    width: 375px;
    padding:30px;
    min-height: 200px;
    margin:0 auto;
}

.navbar{
    width: 375px;
    margin:0 auto;
    height: 200px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    min-height: 50px;
    background-image: url(../img/logo.png);
}

/* section 1 */

.card__container .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    margin:0 auto;
}
.card{
    flex-basis: 100%;
    /* flex-grow: 1; */
    min-height: 200px;
    border-radius: 20px;
    background-color: rgb(144, 224, 239);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.card>p{
    gap: 1rem;
}

.one{
    flex-grow: 2;
    
}

.card__img{
    margin:0 auto;
    width:200px;
    height:250px;
    background-image: url(../img/phone.png);
    min-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 40px;
    background-position: center;
    bottom: 0px;
}

button{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 35px;
    border-radius:20px;
    background-color:rgb(0, 110, 255) ;
    color: white;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
}

h2{
    margin-bottom: 2rem;
    flex-wrap: nowrap;
}
 .clean__img{
    background-image: url(../img/);
 }

 .web__img{
    display: inline-block;
    margin-bottom: 1.5rem;
    color:rgb(0, 110, 255);
    height: 100px;
    margin:0 auto;

 }

 /* section 2s */

 .planning__container{
    width: 375px;
    min-height: 200px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blueviolet;
    padding: 2rem;
   
 }

 .planning__box1{
    flex-basis: 100%;
    background-color: blueviolet;

 }

 .planning__img{
    background-image: url(../img/planning1.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width:80%;
    height: 200px;
    margin:0 auto;
    background-color: white;

 }

 .planning__box2{
    flex-basis: 100%;
    min-height: 300px;
    border-radius: 20px;
    background-color: white;
    
 }

 .development__img{
    display: block;
    background-image: url(../img/planning2.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 300px;
    min-height: 200px;
    margin:0 auto;
    margin-top: 30px;
 }

 .planning__text{
    max-width: 300px;
    min-height: 100px;
    margin:0 auto;
    
 }

.push__down{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    text-align: center;
    margin:0 auto;
}

/* section 3 */

.foto__card{
    flex-basis: 100%;
    /* flex-grow: 1; */
    min-height: 200px;
    border-radius: 20px;
    background-color:blueviolet;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.foto{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin:0 auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.nat{
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
}

.celia{
    background-image: url(../img/testimonial2.jpg);
    background-size: cover;
    background-position: center;

}

.bob{
    background-image: url(../img/testimonial3.jpg);
    background-size: cover;
    background-position: center;

}

.text{
    color: white;
}

/* section 4 */

.color{
    background-color: blueviolet;
}

.benefit__card{
    flex-basis: 100%;
    /* flex-grow: 1; */
    min-height: 200px;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: white;
}